.priceInput {
  display: flex;
  padding: 0.1rem 0.5rem;
  width: 10rem;
  box-sizing: border-box;
  font-size: 1.2rem;
  color: var(--c-blue-600);
  border: 0.17rem solid var(--c-blue-600);
  border-radius: 0.2rem;
  cursor: pointer;
}

.wrapperInputPrice {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}


@media (width <= 500px) {
  .priceInput{
    width: 8rem
  }
}