.emptyCartWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.emptyCartContent {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    margin: auto
}

.emptyCartText{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    margin-bottom: 2rem;
}

.emptyCartContent > h2{
    font-weight: bold;

}

.emptyCartContent > button {
    font-size: 1.6rem;
    background-color: var(--c-green-400);
}

@media (width <= 500px){
    .emptyCartContent {
        font-size: 1rem;
    }
} 

