.quantityContainer{
    width: 10rem;
    height: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    color: var(--c-blue-600);
    border: 0.17rem solid var(--c-blue-600);
    border-radius: 0.2rem;
    transition: all 0.4s ease-out;
}



.quantityContainer > input {
    width: 1.5rem;
    text-align: center;
    background-color: transparent;
    font-size: 1.5rem;
    color: var(--c-blue-800);
}


.quantityContainer > button {
    display: inline-block;
    background-color: transparent;
    color: var(--c-blue-800);
    font-weight: bold;
    font-size: 2rem;
    padding: 0.5rem;
    transition: all 0.4s ease-out;
    line-height: 0rem;
}

.quantityContainer > button:hover {
    color: var(--c-green-400);
}


@media (width <= 600px) {
    .quantityContainer{
        width: 7rem;

    }
}

@media (width <= 500px) {
    .quantityContainer{
        width: 10rem;

    }
}
