.cardBlock {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.8rem;
  font-size: 1.1rem;
  color: var(--c-blue-600);
  border-radius: 0.2rem;
  transition: all 0.4s ease-out;
  box-shadow: 0 0.3rem 0.6rem var(--c-blue-800);
}

.cardContent {
  display: flex;
  flex-direction: column;
}

.cardBlock:hover {
  border-radius: 0.2rem;
  background-color: var(--c-blue-600);
  color: var(--c-green-400);
}

.imgBlock {
  display: block;
  border-radius: 0.2rem;
  margin: 0 auto 10px;
}

.cardImg {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  box-sizing: border-box;
  transition: all 0.4s ease-out;
}

.cardImg:hover {
  transform: scale(1.05);
}

.cardInfoBlock {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.2rem 0.5rem;
}

.pricesBlock {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.cardName {
  text-align: center;
  height: 2rem;
  font-weight: 600;
}

.underscore {
  text-decoration: line-through;
  font-weight: 600;
}

.cardDiscount {
  font-weight: 600;
  color: var(--c-red);
  font-size: 1.25rem;
}

.btnContainer {
  display: flex;
  place-content: center center;
}

.btnContainer > button {
  width: 10rem;
  font-size: 1.2rem;
}

.cardFooter {
  display: flex;
  align-items: last baseline;
  justify-content: space-between;
  padding: 0.5rem 0.6rem 0;
}

.cardCart {
  min-width: 2rem;
  height: 2rem;
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  background-color: var(--c-blue-600);
  transition: all 0.4s ease-out;
  mask-image: url('../../../assets/svg-icons/shopping-cart-not-check.svg');
}

.cardBlock:hover button {
  background-color: var(--c-green-400);
}

@media (width <= 768px) {
  .cardBlock {
    width: 17rem;
  }
}


