.contentInner {
    min-height: 80vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.aboutUsBlock {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.schoolBlock {
    max-width: 70rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    color: var(--c-blue-600);
    border-radius: 0.2rem;
    box-shadow: 0 0.3rem 0.6rem var(--c-blue-800);
}

.logoLink {
  display: inline-block;
}

.logoRS {
  min-width: 10rem;
  height: 10rem;
  background-image: url('../../assets/logo/rss-logo.svg');
  background-size: 20rem;
  background-repeat: no-repeat;
  background-position: center;
}

.logoRS:hover {
  cursor: pointer;
transform: scale(1.1);
}

@media (width <= 500px) {
  .schoolBlock {
   font-size: 1rem;
}

.logoRS {
  min-width: 16rem;
  height: 6rem;
  background-size: 15rem;
}
}
