.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1;
    color: var(--c-white);
    background-color: var(--c-green-200);
    border-radius: 1rem;
    box-shadow:
    inset 0 0.5rem 8rem rgb(100 232 130 / 70%),
    inset 0 0.5rem 1rem rgb(23 187 237 / 90%),
    inset 0 -0.5rem 1rem rgb(14 141 150 / 80%);
    cursor: pointer;
  }

  .btn:active,
  .btn:focus {
    background-color: var(--c-green-400);
  }

  .btn:disabled {
      border: none;
      background-color: var(--c-gray);
      box-shadow: none;
      cursor: not-allowed;
  }

  @media (hover: hover) and (pointer: fine) and (pointer: fine) {
    .btn:hover:not([disabled]) {
        color: var(--c-mint-100);
        background-color: var(--c-blue-600);
        box-shadow:
        inset 0 0.5rem 8rem rgb(46 105 172 / 70%),
        inset 0 0.5rem 1rem rgb(11 93 118 / 90%),
        inset 0 -0.5rem 1rem rgb(37 222 235 / 80%);
        filter: drop-shadow(0.3rem 0.3rem 1.3rem var(--c-mint-100));
        transform: scale(1.1);
    }
}