@import url('../../styles/colors.css');

.headerMain {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: var(--c-blue-800);
  color: var(--c-white);
}

.wrapper {
  max-width: 1920px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navMain {
  display: flex;
  align-items: self-end;
  gap: 2rem;
  font-size: 1rem;
}

.iconProfile {
  mask-image: url('../../assets/svg-icons/profile-icon.svg');
}

.iconLogIn {
  mask-image: url('../../assets/svg-icons/login.svg');
}

.iconCatalog {
  mask-image: url('../../assets/svg-icons/catalog.svg');
}

.iconMain {
  mask-image: url('../../assets/svg-icons/home.svg');
}

.iconSignUp {
  mask-image: url('../../assets/svg-icons/signup.svg');
}

.iconCart {
  mask-image: url('../../assets/svg-icons/cart.svg');
}

.iconAboutUs {
  mask-image: url('../../assets/svg-icons/about-us.svg');
}

.iconLogOut {
  min-width: 2rem;
  height: 2rem;
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  background-color: var(--c-green-400);
  mask-image: url('../../assets/svg-icons/logout.svg');
  cursor: pointer;
}

.textLink {
  display: block;
  color: var(--c-green-400);
  padding-bottom: 0.3rem;
  position: relative;
  font-size: 0.7rem;
  transition: all 0.4s ease-in;
}

.linkBlock:hover {
  cursor: pointer;
  filter: drop-shadow(0.3rem 0.3rem 1rem var(--c-green-400));
  transform: scale(1.1);
}

.burgerMenu {
  display: none;
  cursor: pointer;
}

.burgerIcon {
  width: 2rem;
  height: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1001;
}

.burgerIcon .spanBurger {
  display: block;
  height: 0.1rem;
  background-color: var(--c-green-400);
  border-radius: 0.1rem;
  transition: all 0.3s ease-in-out;
}

.burgerIcon.open .spanBurger:nth-child(1) {
  transform: translateY(7.5px) rotate(45deg);
}

.burgerIcon.open .spanBurger:nth-child(2) {
  opacity: 0;
}

.burgerIcon.open .spanBurger:nth-child(3) {
  transform: translateY(-7.5px) rotate(-45deg);
}

.navMain .open {
  display: block;
}

@media (width <= 768px) {
  .burgerMenu {
    display: block;
    border: none;
    background-color: inherit;
  }

  .navMain {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: -320px;
    width: 320px;
    height: 100%;
    font-size: 1.5rem;
    background-color: var(--c-blue-800);
    transform: translateX(0%);
    transition:
      transform 0.5s ease-out,
      right 0.5s ease-out;
    z-index: 1000;
  }

  .navMain.open {
    transform: translateX(0%);
    right: 0;
  }

  .linkBlock {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .iconLogOut {
    order: 1;
  }

  .textLink {
    font-size: 2rem;
  }
}
