.searchInputBlock {
  display: flex;
  padding: 0.1rem 0.5rem;
  width: 26rem;
  box-sizing: border-box;
  font-size: 1.2rem;
  color: var(--c-blue-600);
  border: 0.17rem solid var(--c-blue-600);
  border-radius: 0.2rem;
}

.searchInputBlock:focus {
  border: 0.2rem solid var(--c-blue-800);
}

.searchInput {
  width: 100%;
  border: 0;
  outline: 0;
}

.searchBtn {
  min-width: 2rem;
  height: 2rem;
  mask-repeat: no-repeat;
  mask-size: cover;
  mask-position: center;
  background-color: var(--c-blue-600);
  mask-image: url('../../assets/svg-icons/search.svg');
  cursor: pointer;
}

@media (width <= 500px) {
  .searchInputBlock{
    width: 15rem
  }
}