
.labelContainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    user-select: none;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
  }

  .labelContainer:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .labelContainer input:checked ~ .checkmark {
    background-color: var(--c-mint-300);
  }

  .checkmark::after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .labelContainer input:checked ~ .checkmark::after {
    display: block;
  }

  .labelContainer .checkmark::after {
    left: 7px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }


  @media(width <= 500px){
    .labelContainer{
      font-size: 1rem;
    }
  }