@import url("./fonts.css");
@import url("./colors.css");

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

#root {
    margin: 0 auto;
}

body {
    margin: 0 auto;
    font-family: "salina trial";
    font-size: 1.5rem;
    font-weight: 400;
    -webkit-font-smoothing: auto;
    text-size-adjust: 100%;
    line-height: 1.5;
    color: var(--c-blue-600);
    overflow-x: hidden;
}


