.inputsBlock {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.7rem;
}


.nameSection,
.birthSection{
display: flex;
gap: 1rem;
}

.passwordSection,
.emailSection{
    display: flex;
    flex-direction: column;
}

.passwordSection > div > p {
    font-size: 0.8rem;
}

.passwordSection > div {
    margin: 0;
}

.emailSection > div > p {
    font-size: 0.8rem;
}

.emailSection > input {
    margin: 0;
}



@media(width <= 500px){
    .nameSection {
        display: flex;
        flex-direction: column;
    }

    .emailSection > label{
        font-size: 1rem;
    }

    .passwordSection > label {
        font-size: 1rem;
    }
  }