.cartPriceWrapper{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex-grow: 3;
}

.cartPriceWrapper > button {
    width: 10rem;
    align-self:flex-end;
    text-align: center;
    font-size: 1.3rem;
    background-color: var(--c-green-400);
}

.cartPriceSection{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 1.5rem 2rem;
    font-size: 1.4rem;
    color: var(--c-blue-600);
    border-radius: 0.2rem;
    transition: all 0.4s ease-out;
    box-shadow: 0 0.3rem 0.6rem var(--c-blue-800);
}

.priceDiscountBlock{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.priceBlock, .discountBlock, .totalPriceBlock{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.totalPriceText {
    font-weight: bold;
    width: 10rem;
}

.totalPriceValue{
    font-weight: bold;
}

@media (width <= 470px) {
    .cartPriceSection{
        gap: 2rem;
        padding: 1rem 1.5rem;
        font-size: 1rem;
    }
}
