.formInput{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.1rem;
}

.formInput > label{
    color: var(--c-mint-100);
}

.formInput > input {
    width: 100%;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    border: 0.2rem solid var(--c-mint-100);
    border-radius: 1rem;
}

.formInput > input:focus {
  border: 0.2rem solid var( --c-blue-800);
}

.formInput > input:valid{
    border: 0.2rem solid var(--c-green-400)
}

.formInput > input[data-responseError='true']{
    border: 0.2rem solid red;
}

.formInput > input:invalid[data-focused='true']{
    border: 0.2rem solid red;
}


.formInput > span{
    font-size: 0.8rem;
    color: red;
    word-wrap: break-word;
    display: none;
}

.formInput > input[data-responseerror='true'] ~ span{
    display: block;
}

.formInput > input:invalid[data-focused='true'] ~ span{
    display: block;
}



@media(width <= 500px){
    .formInput > label{
        font-size: 1rem;
    }
}

