:root {
  --radius: 50%;
  --size: 2em;
  --offset: 2.5rem;
}

.dotSpinner {
  display: grid;
  place-items: center;
  width: 100%;
  height: 80vh;
}

.spinnerBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loadingContainer {
  width: var(--size);
  border-radius: var(--radius);
  aspect-ratio: 1;
  position: relative;
}

.dot {
  --size: 1em;
  --degrees: 0deg;

  aspect-ratio: 1;
  position: absolute;
  border-radius: var(--radius);
  width: var(--size);
  background-color: var(--c-blue-600);
  opacity: 0;
  top: calc(var(--size) / 2);
  left: calc(var(--size) / 2);
  animation: animate-in;
  animation-duration: 900ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: alternate;
  animation-iteration-count: infinite;
}

.dot:nth-of-type(1) {
  --degrees: 0deg;

  transform: translate(calc(cos(var(--degrees)) * var(--offset)), calc(sin(var(--degrees)) * var(--offset)));
  animation-delay: calc(0 * 100ms);
}

.dot:nth-of-type(2) {
  --degrees: 45deg;

  transform: translate(calc(cos(var(--degrees)) * var(--offset)), calc(sin(var(--degrees)) * var(--offset)));
  animation-delay: calc(1 * 100ms);
}

.dot:nth-of-type(3) {
  --degrees: 90deg;

  transform: translate(calc(cos(var(--degrees)) * var(--offset)), calc(sin(var(--degrees)) * var(--offset)));
  animation-delay: calc(2 * 100ms);
}

.dot:nth-of-type(4) {
  --degrees: 135deg;

  transform: translate(calc(cos(var(--degrees)) * var(--offset)), calc(sin(var(--degrees)) * var(--offset)));
  animation-delay: calc(3 * 100ms);
}

.dot:nth-of-type(5) {
  --degrees: 180deg;

  transform: translate(calc(cos(var(--degrees)) * var(--offset)), calc(sin(var(--degrees)) * var(--offset)));
  animation-delay: calc(4 * 100ms);
}

.dot:nth-of-type(6) {
  --degrees: 225deg;

  transform: translate(calc(cos(var(--degrees)) * var(--offset)), calc(sin(var(--degrees)) * var(--offset)));
  animation-delay: calc(5 * 100ms);
}

.dot:nth-of-type(7) {
  --degrees: 270deg;

  transform: translate(calc(cos(var(--degrees)) * var(--offset)), calc(sin(var(--degrees)) * var(--offset)));
  animation-delay: calc(6 * 100ms);
}

.dot:nth-of-type(8) {
  --degrees: 315deg;

  transform: translate(calc(cos(var(--degrees)) * var(--offset)), calc(sin(var(--degrees)) * var(--offset)));
  animation-delay: calc(7 * 100ms);
}

@keyframes animate-in {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

