
.categorySelect {
  appearance: none; 
  border: none; 
  background: none; 
  padding: 0; 
  margin: 0; 
  width: 100%; 
  font-size: inherit; 
  color: inherit; 
  cursor: pointer;
}

.categorySelectBlock {
  display: flex;
  padding: 0.1rem 0.5rem;
  width: 10rem;
  box-sizing: border-box;
  font-size: 1.2rem;
  color: var(--c-blue-600);
  border: 0.2rem solid var(--c-mint-100);
  border-radius: 1rem;
  cursor: pointer;
}

.categoryOption {
  cursor: pointer;
  color: var(--c-blue-600);
  background-color: var(--c-mint-100);
}